:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* ***************************************  */
  /* Modificaciones */

  --lightColor-2: #cce3ed;
  --lightColor-1: #00b2ff;
  --baseColor: #018dc9;
  --darkColor-1: #26617a;
  --darkColor-2: #011e2a;
  --darkColor-3: #011219;
  --greyishBlack: #151516;
}

a {
  font-weight: 500;
  /* color: #646cff; */
  color: #fff;
  text-decoration: inherit;
}
a:hover {
  color: #fff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Modificaciones */

#app {
  width: 100%;
}

.mainTitle {
    display: flex;
    flex-basis: 100%;
    padding: 0;
    margin-left: 0.7rem;
}

#footer {
    background-color: var(--greyishBlack);
    color: #fff;
    display: flex;
    place-items: anchor-center;
    padding: 0rem 1.5rem;
    height: 3rem;
}

.v-list-item--rounded,
.v-list-item__overlay {
    border-radius: 24px !important;
}
.v-navigation-drawer__content,
.v-navigation-drawer .v-list {
  background-color: var(--darkColor-2);
}

.v-list-item--variant-text .v-list-item__overlay {
  background: var(--darkColor-1) !important;
  color: #fff;
}

.v-navigation-drawer--left {
    border-right-width: inherit !important;
}

.v-list-item--variant-plain, .v-list-item--variant-outlined, .v-list-item--variant-text, .v-list-item--variant-tonal {
    color: #fff !important;
    opacity: var(--v-medium-emphasis-opacity);
}

.v-list-item--nav {
  padding-inline: 8px !important;
}

.v-list-item--active > .v-list-item__overlay,
.v-list-item[aria-haspopup=menu][aria-expanded=true] > .v-list-item__overlay,
.v-list-item.v-list-item--link:hover {
    opacity: 1 !important;
    background: unset !important;
}

.v-list-item--active, .v-list-item[aria-haspopup=menu][aria-expanded=true] {
    opacity: calc(var(--v-activated-opacity) * var(--v-theme-overlay-multiplier));
}

.v-list-item--active {
    border-radius: 24px !important;
    background: var(--darkColor-1) !important;
}

.v-list-group__items {
    margin-left: 50px;
}

.v-list-item:hover > .v-list-item__overlay {
    opacity: 0.5 !important;
}

.slotArea {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-image: url("../public/images/bgs/bgTransparent.png");
    background-color: var(--darkColor-3);
}

html {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

::-webkit-scrollbar {
  display: none;
}

/* timelineCardComponent */
.demoBtn:hover {
    /* background-color: #12d392 !important;
    border-color: #12d392 !important; */
    background-color: var(--lightColor-1);
    border-color: var(--lightColor-1);
}
.demoBtn:hover .v-btn__content {
    color: #172030 !important;
}
.demoBtn span.v-btn__overlay,
.demoBtn span.v-btn__underlay {
    background-color: transparent;
}

.sectionTitle {
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
}
/* ////////////////////////////////////////////////// */


/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* @media */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
